name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: beta

      - name: Cache build files
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Ensure cargo-cranky
        run: |
          if ! command cargo-cranky >/dev/null 2>&1; then
            echo "Installing cargo-cranky..."
            cargo install cargo-cranky
          fi

      - name: Format
        run: cargo fmt -- --check

      - name: Lint
        run: cargo cranky -- -Dwarnings

      - name: Test
        run: cargo test --verbose
