name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

env:
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: nightly
          components: |
            rustfmt
            clippy

      - name: Cache build files
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Format
        run: cargo fmt -- --check

      - name: Lint
        run: cargo clippy

      - name: Docs
        run: cargo rustdoc -- -Z unstable-options --check

      - name: Test
        run: cargo test --verbose
